.header {
    margin: 100px 300px 50px 300px;
    padding: 7px 0 7px 0;
    background-color: antiquewhite;
}

.title {
    padding: 0px 40px 5px 40px;
    text-align: center;
    font-size: 35px;
}

.note {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    opacity: 50%;
}

.icon {
    float: right;
}